/* Add application styles & imports to this file! */

ul {
  width: 100%;
  display: block;
}

ul li {
  width: 100%;
  display: block;
}

/* .chat-ul {
  padding: 20px;
} */

.user-p {
  color: red;
}

/* .bot-p {
  color: green;
} */
.chat-ul{padding: 0;margin:0;}
.chat-ul li{display: flex;}
.chat-ul li.user-li{justify-content: flex-start;}
.chat-ul li.user-li .user-p{margin:0;padding: 10px 15px;border-radius: 10px;background-color: #ffebee;color: #000;}
.chat-ul li.bot-li{justify-content: flex-end;}
.chat-ul li.bot-li .bot-p{margin:0;padding: 10px 15px;border-radius: 10px;background-color:#e8eaf6 ;color: #000;}
.response-card-button {
  background: blue;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  border: none;
}