/* Add application styles & imports to this file! */

ul {
  width: 100%;
  display: block;
}

ul li {
  width: 100%;
  display: block;
}

/* .chat-ul {
  padding: 20px;
} */

.user-p {
  color: red;
}

/* .bot-p {
  color: green;
} */
.chat-ul{padding: 0;margin:0;}

.chat-ul li{display: flex;max-width: 85vw;}

.chat-ul li.user-li{justify-content: flex-start;}

.chat-ul li.user-li .user-p{margin:0;padding: 10px 15px;border-radius: 10px;background-color: #ffebee;color: #000;}

.chat-ul li.bot-li{justify-content: flex-end;    margin-left: auto;}

.chat-ul li.bot-li .bot-p{margin:0;padding: 10px 15px;border-radius: 10px;background-color:#e8eaf6 ;color: #000;}

.response-card-button {
  background: blue;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  border: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}